.edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit p {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.5rem;
  color: var(--secondary-color);
}
.edit__items {
  width: 55%;
}
.edit__items input {
  width: 90%;
  border: 1px solid var(--secondary-color);
  padding: 0.5rem 1rem;
  color: var(--secondary-color);
  font-weight: bold;
}
.edit__items input:focus {
  outline: none;
}
.edit__items textarea {
  width: 90%;
  height: 45vh;
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: bold;
  resize: vertical;
  margin-bottom: 1rem;
}
.edit__items textarea:focus {
  outline: none;
}
.edit__image .edit__image {
  width: 45%;
}
.edit img {
  width: 100%;
}
.edit__button {
  background: var(--secondary-color);
  padding: 0.5rem 1.2rem;
  border-radius: 10rem;
  color: var(--background-color);
  display: inline;
  margin-top: 0.5rem;
  cursor: pointer;
}
.edit__button {
  color: var(--background-color);
  background: var(--secondary-color);
  padding: 0.5rem 1rem;
  display: inline;
}
