.users-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(243, 243, 243);
  border: 1px solid rgb(200, 200, 200);
  text-align: center;
}
.users-table .table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid rgb(200, 200, 200);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.users-table img {
  width: 50%;
  border-radius: 50%;
}
.users-table .table > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.users-table .table .update {
  font-size: 0.8rem;
  color: var(--background-color);
  background: rgb(36, 162, 235);
  padding: 0.2rem 0.5rem;
  border-radius: 10rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.users-table .table .delete {
  font-size: 0.8rem;
  color: var(--background-color);
  background: rgb(230, 32, 49);
  padding: 0.2rem 0.5rem;
  border-radius: 10rem;
  cursor: pointer;
}
.users-table .table:first-child {
  border-top: none;
}
.users-table .table p {
  border-right: 1px solid rgb(200, 200, 200);
  padding: 0.5rem 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.users-table .table p:last-child {
  border-right: none;
}
.users-table .header {
  background: var(--secondary-color);
  color: var(--background-color);
  height: auto;
}
.blogs-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.blogs-content p {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--secondary-color);
}
.blogs-content a {
  background: var(--secondary-color);
  color: var(--background-color);
  text-decoration: none;
  padding: 0.3rem 0.8rem;
  border-radius: 10rem;
}
